$font-color: #333;
$spacing-inner: 20px;
$spacing-outer: 10px;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

.bb-container {
	color: $font-color;
	padding: $spacing-outer
}

.bb {
  padding: $spacing-inner;
  border: 1px solid $grey-color-light;
  margin-top: $spacing-inner;
}

.bb-label {
	color: $grey-color;
}

.bold {
	font-weight: bold;
}

.bb-row {
	margin-bottom: 10px;
}

.bb-address-block {
	color: $grey-color-dark;
}

.bb-q {
	width: 100%;
	height: 35px;
	font-size: 1em;
}